In [ ]:
Introduction to list datatype method:

In [1]:
students = ['suhail','manzar','rehana','naushad','sana']

In [2]:
print(students)

['suhail', 'manzar', 'rehana', 'naushad', 'sana']

In [ ]:
#req: want to add falak to the above list.

In [3]:
students.append('falak')

In [4]:
print(students)

['suhail', 'manzar', 'rehana', 'naushad', 'sana', 'falak']

In [ ]:
#req: want to add saba at 5th position to the above list.

In [5]:
students.insert(5, 'saba')

In [6]:
print(students)

['suhail', 'manzar', 'rehana', 'naushad', 'sana', 'saba', 'falak']

In [7]:
print(students[5])

saba

In [ ]:
#req: want to modify rehana name with shabana

In [8]:
students[2] = 'shabana'

In [10]:
print(students)

['suhail', 'manzar', 'shabana', 'naushad', 'sana', 'saba', 'falak']

In [ ]:
#req: want to delete manzar from the above list.

In [11]:
del students[1]

In [12]:
print(students)

['suhail', 'shabana', 'naushad', 'sana', 'saba', 'falak']